*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    color: black;
    max-width: 100%;
    border: 2px solid black;
}
.home{
    height: 100vh;
    background: url(Mainphoto.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 80px;
    font-weight: 800;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.home-content h5{
    font-size: 28px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
h2{
    text-align: center;
    font-size: 38px;
}
#info{ 
    padding :0 20%;
    margin: 0;
    text-align: justify;
    font-size: 18px;
    line-height: 1.9 ;
    background-color: rgba(128, 128, 128, 0.253);
}
h4{
    font-size: 30px;
    text-decoration: underline;
}
p{
    font-style: oblique;
    font-size: 25px;
}
